{include '../layout/header_b.tpl'}
<h2>Menu</h2>
{if isset($message)}{$message}{/if}

<a href="index.php">Frontend</a><br />
<br />
<a href="log.html">Logfile</a><br />
{if $session->role->authorize_photo()}
<a href="photos.html">Photogallery</a><br />
{/if}
{if $session->role->authorize_video()}
<a href="videos.html">Videogallery</a><br />
{/if}
{if $session->role->authorize_user()}
<a href="user.html">User Control</a><br />
{/if}
<br>

<a href="index.php?cl=userManagement&fnc=show_by_id&id={$user->id}">Mein Profil</a>

<br>
<br>
<a href="index.php?cl=login&fnc=logout">Log out</a><br />
{include '../layout/footer_b.tpl'}