{include '../layout/header_b.tpl'}
<h2>Staff Menu: Log File</h2>
{if isset($message)}<p>{$message}</p>{/if}

<a href="admin.html">Zur&uuml;ck</a>

<div class="log">
    {$log}
</div>

<form action="index.php?cl=logfile&fnc=clear" method="POST">
    <button name="clear" value="true">Clear!</button>
</form>
{include '../layout/footer_b.tpl'}