{include '../layout/header_b.tpl'}

<h2>Video Upload</h2>
{if isset($message)}{$message}{/if}

<form action="index.php?cl=videolist&fnc=create" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="MAX_FILE_SIZE" value="{$max_file_size}" />
    <p><input type="file" name="file_upload" /></p>
    <p>Caption<input type="text" name="caption" value="" /></p>
    <input type="submit" name="submit" value="Upload" />
</form>
<br>
<a href="videos.html">&laquo; Abbruch</a>

{include '../layout/footer_b.tpl'}