<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="../../../src/css/style.css" media="all">
    <script src="../../../src/js/jquery.js"></script>
</head>
<body>
    <div id="header">
        <h1>Photo Gallery</h1>
    </div>
    <div id="main">