/*
#1A446C - blue grey
#689DC1 - light blue
#D4E6F4 - very light blue
#EEE4B9 - light tan
#8D0D19 - burdundy
 */

html{
    height:100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #FFF;
    font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
}
img{
    border: none;
}
table, tr, td {
    border-collapse: collapse;
    vertical-align: top;
    text-align: left;
    font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
}
a{
    color: #8D0D19;
}

#header{
    height: 70px;
    text-align: left;
    background: #1A446C;
    color: #D4E6F4;
}
#header h1{
    padding: 1em;
    margin: 0;
}

#main{
    min-height: 600px;
    background: #EEE4B9;
    padding: 2em;
}

#footer{
    height: 2em;
    padding: 1em;
    text-align: center;
    background: #1A446C;
    color: #D4E6F4;
}

table.bordered tr th, table.bordered tr td{
    border: 1px solid #000;
}

.log {
    width: 700px;
    text-align: center;
    padding: 10px;
    border: 1px solid #1A446C;
}

#pagination .selected {
    font-weight: bold;
    color: #8D0D19;
}

.photo-wrapper{
    width: 100%;
    overflow: auto;

}

.video-wrapper{
    width: 100%;
    overflow: auto;
}