{include '../layout/header_f.tpl'}
<p>
    <a href="index.html"><button>Zur&uuml;ck</button></a>
</p>

<p>
    <a href="index.html?cl=shop&fnc=checkout"><button>Zur Kasse</button></a>
</p>

<div>
    {$cart}
</div>

{include '../layout/footer_f.tpl'}