{include '../layout/header_f.tpl'}

<div>
    <h2>Login</h2>

    <form action="index.php?cl=login&fnc=login_user" method="POST">
        <p>
            Name:
            <input type="text" name="username" />
        </p>
        <p>
            Password:
            <input type="password" name="password" />
        </p>
        <p>
            <input type="submit" name="submit" value="Login" />
        </p>
    </form>
    <br>
    <br>
    <a href="index.php">Zur&uuml;ck</a>
</div>

{include '../layout/footer_f.tpl'}