<h2>Passwort vergessen? Kein Problem - geben sie einfach unten ein neues ein!</h2>
<form action="reset_pw.php?h={$hash}" method="POST">
    <p>
        Password: <input type="password" name="new_password" value="{$new_password}"/>
    </p>
    <p>
        Passwort wiederholen: <input type="password" name="new_password_re" />
    </p>
    <p>
        <input type="submit" name="submit" value="Passwort &auml;ndern!">
    </p>
</form>